<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../css/styles.css" />
		<title> {{senderOfInvite}} > {{receiverOfInvite}}</title>
		<script src="https://cdn.socket.io/3.1.1/socket.io.min.js"></script>
		<script>
			const mdlScreenNameInput = "{{senderOfInvite}}";

			console.log(mdlScreenNameInput + " is here tonight")
		</script>
	</head>
	<body>
		<div class="prime-container">
	        <div class="title-bar">
				<div class="title-bar--site-title "><div>{{title}}</div></div>
			    <div class="title-bar--darkmode-button"><a href="#">D</a></div>
			    <div class="title-bar--spacer"></div>
			    <div class="title-bar--spacer"></div>
			    <div class="title-bar--spacer"></div>
			    <div class="title-bar--spacer"></div>
			    <div class="title-bar--spacer"></div>
			    <div class="title-bar--spacer"></div>
			    <div class="title-bar--spacer"></div>
			    <div class="title-bar--spacer"></div>
			    <div class="title-bar--spacer"></div>
			    <div class="title-bar--spacer"></div>
			    <div class="title-bar--spacer"></div>
			    <div class="title-bar--spacer"></div>
			    <div class="title-bar--spacer"></div>
			</div>
	<!------------------------------------------->
	    <div class="main-container" id="main-container">
			<div class="main-container--mainchat b" id="main-chat-section">
				<div class="mainchat--message-area b" id="mainchat-message-area">
					<div class="mainchat--message-area--titlebar" id="mainchat-titlebar">chatting with {{Color}}</div>
					<div class="mainchat--message-area--output-container " id="mainchat-output-container">
						<!-- TypieTech:                 -->
						<!--   This is a message         -->
						<!-- Lazarus_Lu:                 -->
						<!--   This is a message as wella-->
				</div>
			</div><!-- class="mainchat-message-area" -->

			<div class="send-component " id="mainchat-send-component" style="opacity:1;">
				<div class="send-component--grid">
					<form action="#">
						<input type="text" name="message" class="sc-message-input" id="sc-message-input" placeholder="please type in a message" value="" required autofocus />
						<input type="submit" class="send-button" id="send-button" value="SEND"/>	
					</form>
				</div>
			</div><!------------------- class="send-component" -->

	<!------------------------------------------->
	    <div class="footer-bar">possibly inappropriate joke of the day</div>

	        </div><!-- class="prime-container" -->

<!---------------------------------------------------------->		
<!---------------------------------------------------------->		
<!---------------------------------------------------------->		
<!---------------------------------------------------------->		
<!---------------------------------------------------------->		
<!---------------------------------------------------------->		
<!---------------------------------------------------------->		

		
	<script>
		
		const p = console.log;
		p("HERE");
		const socket = io(`/{{senderOfInvite}}`);
		p(socket.nsp)
		////////////////////////////////////////////////////////
		const mainContainer = document.getElementById("main-container"),
		      mainChatSection = document.getElementById("main-chat-section"),
		      mainChatTitleBar = document.getElementById("mainchat-titlebar"),
		      mainChatMessageArea = document.getElementById("mainchat-message-area"),
		      mainchatOutputContainer = document.getElementById("mainchat-output-container");

	    const mainChatSendComponent = document.getElementById("mainchat-send-component"),
		      scMessageInput = document.getElementById("sc-message-input"),
		      sendButton = document.querySelector(".send-button");

		sendButton.addEventListener("click", (e) => {
    		e.preventDefault();
    		console.log("Send Button Clicked:" + socket.nsp)
    		if (scMessageInput.value.length > 3) {
        		socket.emit('message.chat', {
            		screenname: mdlScreenNameInput,
            		message: scMessageInput.value,
            		namespace: socket.nsp
        		})
    		}
		})

		////////SOCKET STUFF////////////
		socket.on("chat",(data)=>{
			console.log("DUPA")
		})		

		// socket.on('chat', (data) => {
		//     mainchatOutputContainer.innerHTML += `
		//     	<a href="#" class="user-link">${data.sender}</a>
		//         <div class="message-sent" >${data.message}</div>
		//     `;
		// })

	</script>	
	</body>
</html>